[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
